* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 20;
    
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

/*================== WARNA BACKGROUND ================*/
body {
    background-image: linear-gradient(40deg, rgba(2,0,36,1) 0%, rgba(134,168,231,1) 0%, rgba(138,223,217,1) 100%);
}

/*================== BODY KALKULATOR ================*/
.container {
    height: 70vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 10px;
    border: solid white 3px;
    border-radius: 20px;
    box-shadow: 0 0 10px #000;
    
}

/*================== GANTI MODE ================*/
.theme-toggler {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 140px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 40px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 10px;
}

button {
    height: 50px;
    width: 50px;
    border:0;
    border-radius: 20px;
    margin: 4px;
    font-size: 20px;
    cursor: pointer;
    transition: all 100ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 105px;
}

/*================== MODE TERANG ==================*/

.calculator {
    background-color: #fff;
    border: solid #8FBC8F 3px;
}

.calculator #display {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #FFB6C1;
    color: #fc4552;
}

.calculator button#backspace {
    background-color: #FFB6C1;
    color: #fc4552;
}

.calculator button.btn-number {
    background-color: #c3eaff;
    color: #4682B4;
}

.calculator button.btn-operator {
    background-color: #D8BFD8;
    color: #663399;
  }
  
  .calculator button.btn-equal {
    background-color: #8FBC8F;
    color: #000;
  }

  /*================== MODE GELAP================== */

  .calculator.dark {
    background-color: #2F4F4F;
    border: solid white 3px;
  }

  .calculator.dark #display {
    color: #f8fafb;
  }

  .calculator.dark button#clear {
    background-color: #CD5C5C;
    color: #ffffff;
  }

   .calculator.dark button#backspace {
    background-color: #CD5C5C;
    color: #ffffff;
  }

  .calculator.dark button.btn-number {
    background-color: #4682B4;
    color: #f8fafb;
  }

  .calculator.dark button.btn-operator {
    background-color: #E0FFFF;
    color: #CD5C5C;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #CD5C5C;
    color: #ffffff;
  }
